{%extends "masterpage.html"%}
{%block content%}
<body>
    <div class="container">
    <form method="post" >
        {%csrf_token%}
        <table class="table" align="center">
            <tr>
                <td>Enter sid</td>
                <td><input id="sid" type="text" name="sid" required></td>
            </tr>
            <tr>
                <td>Enter Student Name</td>
                <td><input id="sname" type="text" name="sname" required></td>
            </tr>
            <tr><option value=""></option>
                <td>Enter Username</td>
                <td><select name="uname" class=form-control"">
                    {%for i in user%}
                    <option>{{i.username}}</option>
                    {%endfor%}
                </select></td>
            </tr>
            <tr>
                <td>Enter City</td>
                <td><input id="city" type="text" name="city" required></td>
            </tr>
            <tr><td colspan="2" align="center"><input type="submit" class="btn btn-success" onclick="check('form1')" value="Submit"><br>
            <span id="result" style="color: red;">{{msg}}</span> <br></td></tr>
        </table>
    </form>
    </div>
</body>
{%endblock%}